/* Root */
:root {
    --reset:     0px;
    --none:      none;
    --clear:     transparent;
}

/* Colors */
@import url(../colors/theme-colors.css);

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/* Reset */
html, body, h1, h2, h3, h4, h5, h6, p {
    margin: var(--reset);
    padding: var(--reset);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden!important;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 0;
}
a:focus, .btn, .btn:focus {
    outline: var(--reset);
    border: var(--reset);
    box-shadow: var(--none);
}
.form-control {
    border: var(--reset);
    border-radius: var(--reset);
}
.form-control:focus {
    outline: var(--reset);
    border: var(--reset);
    box-shadow: var(--reset);
}
hr {
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
}

//Header
.header {
    width: 100%;
    height: auto;
    background-color: rgba(var(--clr-two), 1);
    margin: 0px auto;
    .navbar {
        .navbar-brand {
            img {
                width: auto;
                height: 66px;
                margin: 0px auto;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    position: relative;
                    z-index: 0;
                    .nav-link {
                        font-family: Orbitron, sans-serif;
                        color: rgba(83, 87, 166, 0.8);
                        font-size: 1.125rem;
                        text-transform: uppercase;
                        transition: 500ms linear;
                        &::after {
                            content: "";
                            width: 25px;
                            height: 1px;
                            background-color: rgba($color: var(--clear), $alpha: 1.0);
                            position: absolute;
                            left: 8px;
                            bottom: 0;
                            z-index: 0;
                        }
                        &:hover {
                            color: rgba(var(--clr-one), 1);
                            transition: 500ms linear;
                        }
                        &.active {
                            color: rgba(var(--clr-one), 1);
                            &::after {
                                content: "";
                                width: 25px;
                                height: 1px;
                                background-color: rgba($color: var(--clr-one), $alpha: 1.0);
                                position: absolute;
                                left: 8px;
                                bottom: 0;
                                z-index: 0;
                            }
                        }
                    }
                }
            }
        }
        .lang {
            .dropdown {
                .btn {
                    width: auto;
                    background-color: var(--clear);
                    span {
                        svg {
                            width: 24px;
                            height: 24px;
                            fill: rgba($color: var(--clr-one), $alpha: 1.0);
                        }
                    }
                }
                .dropdown-menu {
                    background-color: rgba(var(--clr-two), 1);
                    border: 1px solid rgba(var(--clr-three), 1);
                    .dropdown-item {
                        color: rgba(var(--clr-one), 1);
                    }
                }
            }
        }
    }
}

// Hero Section
.hero {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    background: linear-gradient(to right, rgb(192, 147, 174) 0%, rgb(134, 88, 112) 100%);
    overflow: hidden;
    &::after {
        content: "";
        width: 100%;
        height: 731px;
        background-image: url(../../images/wave-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 50px;
        opacity: 0.4;
        z-index: -1;
        mix-blend-mode: luminosity;
        background-position: center top;
    }
    img {
        width: fit-content;
        height: 785px;
        object-fit: contain;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 0;
        margin: 0px auto;
    }
    .text {
        width: 60%;
        padding: 250px 0px;
        p {
            color: rgba(var(--clr-two), 1);
            font-weight: bold;
            font-style: italic;
            margin-bottom: 15px;
        }
        h1 {
            color: white;
            margin-bottom: 30px;
            font-size: 4rem;
            font-weight: bold;
        }
        .btn-blue {
            width: auto;
            height: 60px;
            background-color: rgba(var(--clr-two), 1);
            color: rgba(var(--clr-one), 1);
            font-weight: normal;
            position: relative;
            z-index: 99;
            padding: 1rem 1.2rem;
            border-radius: 0px;
            &::after {
                content: "";
                width: 100%;
                height: 60px;
                background-color: var(--clear);
                position: absolute;
                left: 10px;
                bottom: -10px;
                z-index: -10;
                border-right: 1px solid rgba(var(--clr-two), 1);
                border-bottom: 1px solid rgba(var(--clr-two), 1);
                transition: 500ms linear;
            }
            &:hover {
                background-color: white;
                color: rgba(var(--clr-two), 1);
                transition: 500ms linear;
                &::after {
                    border-right: 1px solid white;
                    border-bottom: 1px solid white;
                    transition: 500ms linear;
                }
            }
        }
    }
}

// Overview Section
.overview {
    width: 100%;
    height: auto;
    background-color: rgba(var(--clr-two), 1);
    position: relative;
    z-index: 0;
    padding: 100px 0px;
    overflow: hidden;
    .heading {
        margin-bottom: 30px;
        h2 {
            color: rgba(var(--clr-one), 1);
            text-transform: uppercase;
            font-size: 2.5rem;
        }
    }
    .short-description {
        margin-bottom: 30px;
        p {
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 15px;
            line-height: 1.5;
        }
    }
    .btn-rose {
        width: auto;
        height: 60px;
        background-color: rgba(var(--clr-one), 1);
        color: rgba(var(--clr-two), 1);
        font-weight: normal;
        position: relative;
        z-index: 99;
        padding: 1rem 1.2rem;
        border-radius: 0px;
        &::after {
            content: "";
            width: 100%;
            height: 60px;
            background-color: var(--clear);
            position: absolute;
            left: 10px;
            bottom: -10px;
            z-index: -10;
            border-right: 1px solid rgba(var(--clr-one), 1);
            border-bottom: 1px solid rgba(var(--clr-one), 1);
            transition: 500ms linear;
        }
        &:hover {
            background-color: white;
            color: rgba(var(--clr-two), 1);
            transition: 500ms linear;
            &::after {
                border-right: 1px solid white;
                border-bottom: 1px solid white;
                transition: 500ms linear;
            }
        }
    }
    .image {
        width: 100%;
        position: absolute;
        right: 0px;
        left: auto;
        top: 0px;
        z-index: -1;
        text-align: right;
        img {
            width: auto;
            height: 645px;
            object-fit: cover;
            &::after {
                content: "";
                width: 40%;
                height: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 99;
                background: linear-gradient(to right, rgb(33, 24, 96) 0%, rgba(33, 24, 96, 0.1) 100%);
            }
        }
    }
}

//Services Section
.services {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    padding: 150px 0px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../../images/services-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: luminosity;
        opacity: 0.5;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: -1;
        margin: 0px auto;
        background-position: center top;
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(var(--clr-one), 1);
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: -2;
        margin: 0px auto;
    }
    .heading {
        margin-bottom: 60px;
        text-align: center;
        p {
            color: white;
            text-transform: uppercase;
        }
        h2 {
            color: white;
            text-transform: uppercase;
            font-size: 2.5rem;
        }
    }
    .swiper {
        padding: 30px 0px;
        .swiper-wrapper {
            .swiper-slide {
                .service-item {
                    width: 100%;
                    height: auto;
                    min-height: 316px;
                    background-color: white;
                    text-align: center;
                    margin: 0px auto;
                    padding: 30px;
                    border-radius: 5px;
                    transition: 500ms;
                    .figure {
                        margin-bottom: 20px;
                        img {
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                        }
                    }
                    h4 {
                        margin-bottom: 15px;
                        a {
                            color: rgba(var(--clr-two), 1);
                            font-weight: bold;
                            text-decoration: none;
                            transition: 500ms linear;
                        }
                    }
                    p {
                        color: rgba(var(--clr-two), 0.6);
                    }
                    &:hover {
                        background-color: rgba(var(--clr-two), 1);
                        box-shadow: rgba(33, 24, 96, 0.25) 5px 5px 15px 0px;
                        transition: 500ms;
                        h4 {
                            a {
                                color: rgba(var(--clr-one), 1);
                            }
                        }
                        p {
                            color: rgba(255, 255, 255, 0.6);
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: -6px;
            .swiper-pagination-bullet {
                width: 10px;
                height: 5px;
                border-radius: 5px;
                background-color: rgba($color: var(--clr-two), $alpha: 1.0);
                &.swiper-pagination-bullet-active {
                    width: 25px;
                } 
            }
        }
    }
}

//Latest Projects Section
.latest-projects {
    width: 100%;
    height: auto;
    background-color: rgba(var(--clr-two), 1);
    padding: 100px 0px;
    .heading {
        padding: 100px 0;
        p {
            color: white;
            text-transform: uppercase;
        }
        h2 {
            color: white;
            text-transform: uppercase;
            font-size: 2.5rem;
        }
        .btn-rose {
            width: auto;
            height: 60px;
            margin-top: 30px;
            background-color: rgba(var(--clr-one), 1);
            color: rgba(var(--clr-two), 1);
            font-weight: normal;
            position: relative;
            z-index: 99;
            padding: 1rem 1.2rem;
            border-radius: 0px;
            &::after {
                content: "";
                width: 100%;
                height: 60px;
                background-color: var(--clear);
                position: absolute;
                left: 10px;
                bottom: -10px;
                z-index: -10;
                border-right: 1px solid rgba(var(--clr-one), 1);
                border-bottom: 1px solid rgba(var(--clr-one), 1);
                transition: 500ms linear;
            }
            &:hover {
                background-color: white;
                color: rgba(var(--clr-two), 1);
                transition: 500ms linear;
                &::after {
                    border-right: 1px solid white;
                    border-bottom: 1px solid white;
                    transition: 500ms linear;
                }
            }
        }
    }
    .swiper {
        padding: 20px 0;
        .swiper-wrapper {
            .swiper-slide {
                .project-item {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    figure {
                        img {
                            width: 100%;
                            height: auto;
                            margin: 0 auto;
                            border-radius: 15px;
                        }
                    }
                    h5 {
                        background-color: rgba($color: var(--clr-two), $alpha: 0.8);
                        padding: 10px;
                        position: absolute;
                        bottom: 30px;
                        left: 10px;
                        right: 10px;
                        margin: 0 auto;
                        border-radius: 5px;
                        font-family: "Montserrat", sans-serif;
                        font-size: 1rem;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: rgba($color: var(--clr-one), $alpha: 1.0);
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: -6px;
            .swiper-pagination-bullet {
                width: 10px;
                height: 5px;
                border-radius: 5px;
                background-color: rgba($color: var(--clr-one), $alpha: 1.0);
                &.swiper-pagination-bullet-active {
                    width: 25px;
                } 
            }
        }
    }
}

// Solutions
.solutions {
    width: 100%;
    height: auto;
    padding: 100px 0;
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../../images/solutions-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: luminosity;
        opacity: 0.5;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: -1;
        margin: 0px auto;
        background-position: center top;
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(var(--clr-two), 1);
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: -2;
        margin: 0px auto;
    }
    .heading {
        margin-bottom: 30px;
        p {
            color: white;
            text-transform: uppercase;
        }
        h2 {
            color: white;
            text-transform: uppercase;
            font-size: 2.5rem;
        }
    }
    .accordion {
        .accordion-item {
            border: ipx solid var(--clear);
            margin-bottom: 15px;
            .accordion-header {
                .accordion-button {
                    background-color: rgba($color: var(--clr-four), $alpha: 1.0);
                    box-shadow: none;
                    color: rgba($color: var(--clr-one), $alpha: 1.0);
                    font-size: 1.125rem;
                    font-weight: bold;
                    &.collapsed {
                        background-color: rgba($color: var(--clr-three), $alpha: 1.0);
                    }
                    &::after {
                        width: 24px;
                        height: 24px;
                        background-color: rgba($color: #FFFFFF, $alpha: 0.7);
                        mix-blend-mode: screen;
                        padding: 5px;
                        border-radius: 3px;
                        background-size: auto;
                    }
                }
            }
            .accordion-collapse {
                .accordion-body {

                }
            }
        }
    }
}


// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (min-width: 1280px) and (max-width: 1399.98px) {

}