/* Root */
@import url(../colors/theme-colors.css);
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
:root {
  --reset: 0px;
  --none: none;
  --clear: transparent;
}

/* Colors */
/* Import Font */
/* Reset */
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: var(--reset);
  padding: var(--reset);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cairo", sans-serif;
}

body {
  direction: rtl !important;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-family: "Cairo", sans-serif;
  position: relative;
  z-index: 0;
}

a:focus, .btn, .btn:focus {
  outline: var(--reset);
  border: var(--reset);
  box-shadow: var(--none);
}

.form-control {
  border: var(--reset);
  border-radius: var(--reset);
}

.form-control:focus {
  outline: var(--reset);
  border: var(--reset);
  box-shadow: var(--reset);
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.top-header {
  width: 100%;
  height: auto;
  padding: 10px 0;
  background-color: rgba(var(--color-one), 1);
}
.top-header .contact-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.top-header .contact-wrapper .block {
  padding-left: 30px;
}
.top-header .contact-wrapper .block span {
  color: rgba(var(--color-three), 1);
  padding-left: 5px;
}
.top-header .contact-wrapper .block span svg {
  width: 20px;
  height: 20px;
  fill: rgba(var(--color-three), 1);
}
.top-header .social-langs-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}
.top-header .social-langs-wrapper .social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  border-left: 1px solid rgba(var(--color-three), 1);
}
.top-header .social-langs-wrapper .social-links li {
  padding: 0 5px;
}
.top-header .social-langs-wrapper .social-links li a svg {
  width: 20px;
  height: 20px;
  fill: rgba(var(--color-three), 1);
  transition: all ease 500ms;
}
.top-header .social-langs-wrapper .social-links li a:hover svg {
  fill: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-toggle {
  background-color: var(--clear);
  padding: 0 5px 0 0;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-toggle span {
  color: rgba(var(--color-three), 1);
  padding-left: 5px;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-toggle span img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-menu li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-menu li a span {
  color: rgba(var(--color-one), 1);
  padding-left: 5px;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-menu li a span img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-menu li a:hover {
  background-color: rgba(var(--color-three), 1);
}
.top-header .social-langs-wrapper .lang .dropdown-center .dropdown-menu li a:focus {
  background-color: rgba(var(--color-two), 1);
}

.header .navbar .navbar-brand img {
  width: 100%;
  height: 40px;
}
.header .navbar .collapse .navbar-nav {
  margin-right: auto !important;
  margin-left: unset !important;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(var(--color-three), 1);
  transition: all ease 500ms;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link.active {
  color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}

.hero {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image {
  position: relative;
  z-index: 0;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image::after {
  content: "";
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(var(--color-one), 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay {
  width: 45%;
  position: absolute;
  right: 17%;
  top: 30%;
  z-index: 99;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay h2 {
  color: white;
  font-weight: 700;
  font-size: 4rem;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay p {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.75);
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}
.hero .heroSwiper .swiper-button-next {
  width: 45px;
  height: 45px;
  background-color: rgba(var(--color-two), 1);
  border-radius: 5px;
  left: 47%;
  top: 95%;
}
.hero .heroSwiper .swiper-button-next::after {
  color: white;
  font-size: 20px;
}
.hero .heroSwiper .swiper-button-prev {
  width: 45px;
  height: 45px;
  background-color: rgba(var(--color-two), 1);
  border-radius: 5px;
  right: 47%;
  top: 95%;
}
.hero .heroSwiper .swiper-button-prev::after {
  color: white;
  font-size: 20px;
}

.overview {
  width: 100%;
  height: auto;
  padding: 50px 0;
  position: relative;
  z-index: 0;
}
.overview::after {
  content: "";
  width: 30%;
  height: 400px;
  background-color: rgba(var(--color-three), 1);
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
}
.overview .image {
  position: relative;
  z-index: 0;
}
.overview .image img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.overview .image .years {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  background-color: rgba(var(--color-one), 1);
}
.overview .image .years h3 {
  color: white;
  font-size: 6rem;
  font-weight: 900;
  padding: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.overview .image .years p {
  color: white;
  margin-top: 10px;
}
.overview .text {
  padding: 100px 0;
}
.overview .text h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.overview .text h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.overview .text h2 {
  font-size: 3rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
}
.overview .text p {
  line-height: 2;
  color: rgba(var(--color-three), 1);
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: justify;
}
.overview .text .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.overview .text .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.overview .text .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.overview .text .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.overview .text .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}

.services {
  width: 100%;
  height: auto;
  padding: 50px 0;
  position: relative;
  z-index: 0;
}
.services::after {
  content: "";
  width: 100%;
  height: 50%;
  background-image: url(../../images/services-bg.png);
  background-repeat: var(--none);
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.services .heading .title h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.services .heading .title h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.services .heading .title h3 {
  font-size: 2rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.services .heading .arrows-wrapper {
  position: relative;
  top: -50px;
  z-index: 0;
}
.services .heading .arrows-wrapper .swiper-button-next {
  width: 45px;
  height: 45px;
  background-color: rgba(var(--color-one), 1);
  border-radius: 5px;
  left: 60px;
  right: auto;
  top: 10%;
  z-index: 99;
}
.services .heading .arrows-wrapper .swiper-button-next::after {
  color: white;
  font-size: 20px;
}
.services .heading .arrows-wrapper .swiper-button-prev {
  width: 45px;
  height: 45px;
  background-color: rgba(var(--color-one), 1);
  border-radius: 5px;
  left: 0;
  right: auto;
  top: 10%;
  z-index: 99;
}
.services .heading .arrows-wrapper .swiper-button-prev::after {
  color: white;
  font-size: 20px;
}
.services .serviceSwiper {
  padding: 40px 0;
}
.services .serviceSwiper .swiper-wrapper .swiper-slide .service-item {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid rgba(var(--color-three), 1);
  text-align: center;
  padding: 40px 20px;
  border-radius: 5px;
  transition: all ease 500ms;
}
.services .serviceSwiper .swiper-wrapper .swiper-slide .service-item img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.services .serviceSwiper .swiper-wrapper .swiper-slide .service-item a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 20px auto;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  transition: all ease 500ms;
}
.services .serviceSwiper .swiper-wrapper .swiper-slide .service-item p {
  color: rgba(var(--color-three), 1);
}
.services .serviceSwiper .swiper-wrapper .swiper-slide .service-item:hover {
  transition: all ease 500ms;
  background-color: rgba(var(--color-one), 1);
}
.services .serviceSwiper .swiper-wrapper .swiper-slide .service-item:hover a {
  color: white;
  transition: all ease 500ms;
}
.services .stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .stats-wrapper .stats-item {
  width: auto;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.services .stats-wrapper .stats-item h3 {
  font-size: 5rem;
  font-weight: bold;
  color: rgba(var(--color-one), 1);
  margin-bottom: 10px;
}
.services .stats-wrapper .stats-item p {
  font-size: 1.2rem;
  color: rgba(var(--color-one), 0.6);
  font-weight: bold;
}

.latest-projects {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.latest-projects::after {
  content: "";
  width: 553px;
  height: 461px;
  opacity: 0.3;
  background-image: url(../../images/projects-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.latest-projects .heading .title h6 {
  padding-right: 15px;
  font-weight: 700;
  color: white;
  position: relative;
  z-index: 0;
}
.latest-projects .heading .title h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.latest-projects .heading .title h3 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.latest-projects .heading .arrows-wrapper {
  position: relative;
  top: -50px;
  z-index: 0;
}
.latest-projects .heading .arrows-wrapper .swiper-button-next {
  width: 45px;
  height: 45px;
  background-color: rgba(var(--color-two), 1);
  border-radius: 5px;
  left: 60px;
  right: auto;
  top: 10%;
  z-index: 99;
}
.latest-projects .heading .arrows-wrapper .swiper-button-next::after {
  color: white;
  font-size: 20px;
}
.latest-projects .heading .arrows-wrapper .swiper-button-prev {
  width: 45px;
  height: 45px;
  background-color: rgba(var(--color-two), 1);
  border-radius: 5px;
  left: 0;
  right: auto;
  top: 10%;
  z-index: 99;
}
.latest-projects .heading .arrows-wrapper .swiper-button-prev::after {
  color: white;
  font-size: 20px;
}
.latest-projects .projectSwiper {
  padding: 40px 0 0;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .image {
  width: 65%;
  height: auto;
  margin: 0 auto;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .image img {
  width: 100%;
  height: 476px;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text {
  width: 35%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text h4 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text p {
  color: rgba(var(--color-three), 1);
  font-size: 1rem;
  margin-bottom: 20px;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}

.why-choose-us {
  width: 100%;
  height: auto;
  padding: 100px 0 0;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.why-choose-us::before {
  content: "";
  width: 609px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../../images/why-choose-us-bg-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.why-choose-us .image img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.why-choose-us .heading .title h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.why-choose-us .heading .title h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.why-choose-us .heading .title h3 {
  font-size: 2rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.why-choose-us .text p {
  font-size: 1.2rem;
  color: rgba(var(--color-three), 1);
  margin-bottom: 20px;
}
.why-choose-us .text ul {
  list-style-type: none;
  -moz-column-count: 2;
       column-count: 2;
  padding: 0 25px;
}
.why-choose-us .text ul li {
  position: relative;
  z-index: 0;
}
.why-choose-us .text ul li::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(234,113,46,1)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  right: -25px;
}
.why-choose-us .text ul li p {
  color: rgba(var(--color-one), 1);
  font-weight: bold;
}

.partners {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: rgba(var(--color-three), 0.1);
}
.partners .heading .title h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.partners .heading .title h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.partners .heading .title h3 {
  font-size: 2rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.partners .partnerSwiper {
  padding: 40px 0;
}
.partners .partnerSwiper .swiper-wrapper .swiper-slide .partner-item {
  width: 100%;
  height: auto;
  min-height: 105px;
  padding: 25px;
  background-color: white;
  border: 1px solid rgba(var(--color-three), 0.4);
  border-radius: 5px;
}
.partners .partnerSwiper .swiper-wrapper .swiper-slide .partner-item img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-news {
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.latest-news .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.latest-news .heading .title h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.latest-news .heading .title h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.latest-news .heading .title h3 {
  font-size: 2rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.latest-news .heading .btn-wrapper .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.latest-news .heading .btn-wrapper .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.latest-news .heading .btn-wrapper .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.latest-news .heading .btn-wrapper .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.latest-news .heading .btn-wrapper .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}
.latest-news .news-item {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}
.latest-news .news-item .image {
  margin-bottom: 20px;
}
.latest-news .news-item .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-news .news-item .date {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 5px;
  text-align: center;
  background-color: rgba(var(--color-one), 1);
  position: absolute;
  top: -20px;
  right: 15px;
}
.latest-news .news-item .date span {
  color: white;
  display: block;
}
.latest-news .news-item .date span:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.latest-news .news-item .date span:last-child {
  font-size: 1rem;
  background-color: rgba(var(--color-two), 1);
  padding: 5px 10px;
  text-transform: capitalize;
}
.latest-news .news-item .title {
  height: 80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--color-three), 0.3);
}
.latest-news .news-item .title h4 a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(var(--color-one), 1);
}
.latest-news .news-item .title h4 a:hover {
  color: rgba(var(--color-two), 1);
}
.latest-news .news-item .text {
  margin-bottom: 20px;
}
.latest-news .news-item .text p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: rgba(var(--color-one), 0.6);
}
.latest-news .news-item .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.latest-news .news-item .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.latest-news .news-item .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.latest-news .news-item .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.latest-news .news-item .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}

.footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0 20px;
  background-image: url(../../images/footer-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .logo {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.footer .logo img {
  width: auto;
  height: auto;
  margin: 0 auto;
}
.footer .social {
  margin-top: 30px;
}
.footer .social ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .social ul li {
  width: 30px;
}
.footer .social ul li a svg {
  width: 30px;
  height: 30px;
  fill: rgba(var(--color-three), 1);
}
.footer h5 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
.footer .contact-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .contact-info ul li {
  margin-bottom: 20px;
}
.footer .contact-info ul li span {
  color: rgba(var(--color-three), 1);
  font-size: 1.2rem;
}
.footer .contact-info ul li span svg {
  width: 30px;
  height: 30px;
  fill: rgba(var(--color-two), 1);
}
.footer .copyrights {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid rgba(var(--color-three), 0.1);
}
.footer .copyrights .rights {
  text-align: right;
}
.footer .copyrights .rights p {
  color: rgba(var(--color-three), 1);
  font-size: 0.8rem;
}
.footer .copyrights .rights p a {
  text-decoration: none;
  color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.footer .copyrights .rights p a:hover {
  text-decoration: underline;
  color: rgba(var(--color-three), 1);
  transition: all ease 500ms;
}
.footer .copyrights .develop {
  text-align: left;
}
.footer .copyrights .develop p {
  color: rgba(var(--color-three), 1);
  font-size: 0.8rem;
}
.footer .copyrights .develop p a {
  text-decoration: none;
  color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.footer .copyrights .develop p a:hover {
  text-decoration: underline;
  color: rgba(var(--color-three), 1);
  transition: all ease 500ms;
}

.top-page {
  width: 100%;
  height: auto;
  max-height: 200px;
  background-color: rgba(var(--color-one), 1);
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.top-page .page-name {
  color: rgba(var(--color-three), 1);
  font-weight: bold;
  font-size: 2rem;
  margin: 50px auto;
}
.top-page img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.page {
  padding: 100px 0;
}
.page .image {
  position: relative;
  z-index: 0;
}
.page .image img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .image .years {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  background-color: rgba(var(--color-one), 1);
}
.page .image .years h3 {
  color: white;
  font-size: 6rem;
  font-weight: 900;
  padding: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.page .image .years p {
  color: white;
  margin-top: 10px;
}
.page .text {
  padding: 25px 0;
}
.page .text h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.page .text h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.page .text h2 {
  font-size: 3rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page .text p {
  line-height: 2;
  color: rgba(var(--color-three), 1);
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: justify;
}
.page .text .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.page .text .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.page .text .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.page .text .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.page .text .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}
.page .service-item {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid rgba(var(--color-three), 1);
  text-align: center;
  padding: 40px 20px;
  border-radius: 5px;
  margin: 15px auto;
}
.page .service-item img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.page .service-item a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 20px auto;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
}
.page .service-item p {
  color: rgba(var(--color-three), 1);
}
.page .service-item:hover {
  transition: all ease 500ms;
  background-color: rgba(var(--color-one), 1);
}
.page .service-item:hover a {
  color: white;
  transition: all ease 500ms;
}
.page .news-item {
  width: 100%;
  height: auto;
  margin: 0 auto 50px;
  position: relative;
  z-index: 0;
}
.page .news-item .image {
  margin-bottom: 20px;
}
.page .news-item .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .news-item .date {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 5px;
  text-align: center;
  background-color: rgba(var(--color-one), 1);
  position: absolute;
  top: -20px;
  right: 15px;
}
.page .news-item .date span {
  color: white;
  display: block;
}
.page .news-item .date span:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.page .news-item .date span:last-child {
  font-size: 1rem;
  background-color: rgba(var(--color-two), 1);
  padding: 5px 10px;
  text-transform: capitalize;
}
.page .news-item .title {
  height: 80px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--color-three), 0.3);
}
.page .news-item .title h4 a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(var(--color-one), 1);
}
.page .news-item .title h4 a:hover {
  color: rgba(var(--color-two), 1);
}
.page .news-item .text {
  margin-bottom: 20px;
}
.page .news-item .text p {
  line-height: 1.5;
  font-size: 1rem;
  color: rgba(var(--color-one), 0.6);
}
.page .news-item .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.page .news-item .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.page .news-item .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.page .news-item .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.page .news-item .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}
.page .pagination {
  margin-top: 30px;
}
.page .pagination li {
  margin: auto 5px;
}
.page .pagination li a {
  border-radius: 0 !important;
  color: rgba(var(--color-three), 1);
  font-size: 1.2rem;
  transition: all ease 500ms;
}
.page .pagination li a:hover {
  color: rgba(var(--color-one), 1);
  background-color: rgba(var(--color-two), 1);
  border-color: rgba(var(--color-two), 1);
}
.page .pagination li a.active {
  color: rgba(var(--color-one), 1);
  background-color: rgba(var(--color-two), 1);
  border-color: rgba(var(--color-two), 1);
}
.page .default-banner {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.page .default-banner img {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .content {
  padding: 25px 0;
}
.page .content h1 {
  font-size: 4rem;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.page .content h2 {
  font-size: 3rem;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.page .content h3 {
  font-size: 2.5rem;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.page .content h4 {
  font-size: 2rem;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.page .content h5 {
  font-size: 1.5rem;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.page .content h6 {
  font-size: 1.2rem;
  color: rgba(var(--color-one), 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.page .content p {
  font-size: 1rem;
  color: rgba(var(--color-three), 1);
  line-height: 2;
  margin-bottom: 20px;
}
.page .content p a {
  text-decoration: none;
  color: rgba(var(--color-one), 1);
  transition: all ease 500ms;
}
.page .content p a:hover {
  transition: all ease 500ms;
  text-decoration: underline;
  color: rgba(var(--color-two), 1);
}
.page .content a {
  text-decoration: none;
  color: rgba(var(--color-one), 1);
  transition: all ease 500ms;
}
.page .content a:hover {
  transition: all ease 500ms;
  text-decoration: underline;
  color: rgba(var(--color-two), 1);
}
.page .content ul {
  list-style-type: none;
  -moz-column-count: 2;
       column-count: 2;
  padding: 0 25px;
}
.page .content ul li {
  position: relative;
  z-index: 0;
}
.page .content ul li::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(234,113,46,1)'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  right: -25px;
}
.page .content ul li p {
  color: rgba(var(--color-one), 1);
  font-weight: bold;
}
.page .content ul li p a {
  text-decoration: none;
  color: rgba(var(--color-one), 1);
  transition: all ease 500ms;
}
.page .content ul li p a:hover {
  transition: all ease 500ms;
  text-decoration: underline;
  color: rgba(var(--color-two), 1);
}
.page .content ul li a {
  text-decoration: none;
  color: rgba(var(--color-one), 1);
  transition: all ease 500ms;
}
.page .content ul li a:hover {
  transition: all ease 500ms;
  text-decoration: underline;
  color: rgba(var(--color-two), 1);
}
.page .bannerSwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .bannerSwiper .swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: rgba(var(--color-one), 1);
  left: 0;
  top: auto;
  bottom: 0;
  cursor: pointer;
}
.page .bannerSwiper .swiper-button-next::after {
  color: white;
  font-size: 30px;
}
.page .bannerSwiper .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-color: rgba(var(--color-one), 1);
  right: auto;
  left: 60px;
  top: auto;
  bottom: 0;
  cursor: pointer;
}
.page .bannerSwiper .swiper-button-prev::after {
  color: white;
  font-size: 30px;
}
.page .block {
  width: 100%;
  height: auto;
  margin: 0 auto 30px;
  background-color: rgba(var(--color-three), 0.2);
}
.page .block h5 {
  position: relative;
  z-index: 0;
  padding: 15px;
  font-weight: bold;
  display: block;
  background-color: rgba(var(--color-one), 1);
  color: rgba(var(--color-three), 1);
}
.page .block h5::after {
  content: "";
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-image: url(../../images/block-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.page .block .text {
  padding: 20px;
}
.page .block .text p {
  line-height: 1.2;
  font-size: 1rem;
}
.page .block .text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page .block .text ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--color-three), 0.4);
}
.page .block .text ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.page .block .text ul li span {
  color: rgba(var(--color-one), 1);
}
.page .block .text ul li span:first-child {
  font-weight: bold;
}
.page .sidebar-block {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  background-color: rgba(var(--color-one), 1);
  text-align: center !important;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.page .sidebar-block::after {
  content: "";
  width: 100%;
  height: 451px;
  background-image: url(../../images/sidebar-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  mix-blend-mode: hard-light;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.1;
}
.page .sidebar-block img {
  width: auto;
  height: 60px;
  margin: 0 auto;
}
.page .sidebar-block .text {
  text-align: center;
  margin-top: 50px;
}
.page .sidebar-block .text h5 {
  color: rgba(var(--color-three), 1);
  margin-bottom: 0px;
}
.page .sidebar-block .text h2 {
  font-size: 2.5rem;
  padding: 0;
  color: rgba(var(--color-two), 1);
  margin-bottom: 0px;
}
.page .sidebar-block .text p {
  color: rgba(var(--color-three), 1);
  margin-bottom: 0;
  line-height: normal;
  text-align: center;
}
.page .project-vod {
  width: 100%;
  height: auto;
  min-height: 400px;
}
.page .contact-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page .contact-info ul li {
  margin-bottom: 20px;
}
.page .contact-info ul li span {
  color: rgba(var(--color-three), 1);
  font-size: 1.2rem;
}
.page .contact-info ul li span svg {
  width: 30px;
  height: 30px;
  fill: rgba(var(--color-two), 1);
}
.page .heading .title h6 {
  padding-right: 15px;
  font-weight: 700;
  color: rgba(var(--color-one), 1);
  position: relative;
  z-index: 0;
}
.page .heading .title h6::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(var(--color-two), 1);
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 0;
}
.page .heading .title h3 {
  font-size: 2rem;
  color: rgba(var(--color-one), 1);
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.page .form {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(var(--color-three), 0.2);
  padding: 50px 25px 0;
}
.page .form .form-control {
  width: 100%;
  height: 60px;
  border: 1xp solid rgba(var(--color-three), 0.7);
  border-radius: 5px;
  color: rgba(var(--color-one), 1);
  text-align: right;
}
.page .form .form-control::-moz-placeholder {
  color: rgba(var(--color-one), 0.4);
}
.page .form .form-control::placeholder {
  color: rgba(var(--color-one), 0.4);
}
.page .form textarea {
  min-height: 250px;
}
.page .form .btn {
  width: auto;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}
.page .form .btn span {
  color: rgba(var(--color-one), 1);
  font-size: 1rem;
  font-weight: 600;
}
.page .form .btn span:last-child {
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background-color: rgba(var(--color-one), 1);
}
.page .form .btn span svg {
  width: 24px;
  height: 24px;
  fill: white;
}
.page .form .btn:hover {
  transition: all ease 500ms;
  background-color: white;
}
.page .project-item {
  width: 100%;
  height: auto;
  margin: 0 auto 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.page .project-item img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.page .project-item .wrapper {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 15px;
  left: 15px;
  bottom: 30px;
}
.page .project-item .wrapper h5 {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgba(var(--color-two), 1);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.page .project-item .wrapper h3 {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 15px;
}
.page .project-item .wrapper h3 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgba(var(--color-one), 1);
  transition: all ease 500ms;
}
.page .project-item .wrapper h3 a span:last-child {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-color: rgba(var(--color-one), 1);
  border-radius: 5px;
  padding: 2px;
  transition: all ease 500ms;
}
.page .project-item .wrapper h3 a span:last-child svg {
  width: 30px;
  height: 30px;
  fill: white;
}
.page .project-item .wrapper h3 a:hover {
  transition: all ease 500ms;
  color: rgba(var(--color-two), 1);
}
.page .project-item .wrapper h3 a:hover span:last-child {
  background-color: rgba(var(--color-two), 1);
  transition: all ease 500ms;
}

.statistics {
  width: 100%;
  height: auto;
  padding: 50px 0;
  position: relative;
  z-index: 0;
}
.statistics::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../../images/services-bg.png);
  background-repeat: var(--none);
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.statistics .stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistics .stats-wrapper .stats-item {
  width: auto;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
.statistics .stats-wrapper .stats-item h3 {
  font-size: 5rem;
  font-weight: bold;
  color: rgba(var(--color-one), 1);
  margin-bottom: 10px;
}
.statistics .stats-wrapper .stats-item p {
  font-size: 1.2rem;
  color: rgba(var(--color-one), 0.6);
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .top-header .contact-wrapper {
    display: none;
  }
  .top-header .social-langs-wrapper {
    justify-content: center;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay {
    width: auto;
    left: 5%;
    top: 15%;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay h2 {
    font-size: 2.5rem;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay p {
    font-size: 1.125rem;
  }
  .hero .heroSwiper .swiper-button-next {
    right: 35%;
    top: 85%;
  }
  .hero .heroSwiper .swiper-button-prev {
    left: 35%;
    top: 85%;
  }
  .overview::after {
    content: unset;
  }
  .overview .image {
    display: none;
  }
  .overview .text {
    padding: 0;
  }
  .services::after {
    height: 55%;
  }
  .services .stats-wrapper {
    display: block;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item {
    display: block;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .image {
    width: 100%;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text {
    width: 100%;
  }
  .why-choose-us {
    padding: 50px 0;
  }
  .why-choose-us::before {
    content: unset;
  }
  .why-choose-us .image {
    display: none;
  }
  .why-choose-us .text ul {
    -moz-column-count: 1;
         column-count: 1;
  }
  .latest-news .news-item {
    margin-bottom: 40px;
  }
  .footer h5 {
    text-align: center;
    margin-top: 20px;
  }
  .footer .copyrights .rights {
    text-align: center;
  }
  .footer .copyrights .develop {
    text-align: center;
  }
  .top-page img {
    display: none;
  }
  .top-page .page-name {
    text-align: center;
  }
  .statistics .stats-wrapper {
    display: block;
  }
  .page .content ul {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .top-header .contact-wrapper {
    display: none;
  }
  .top-header .social-langs-wrapper {
    justify-content: center;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay {
    width: auto;
    left: 5%;
    top: 15%;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay h2 {
    font-size: 2.5rem;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay p {
    font-size: 1.125rem;
  }
  .hero .heroSwiper .swiper-button-next {
    right: 35%;
    top: 85%;
  }
  .hero .heroSwiper .swiper-button-prev {
    left: 35%;
    top: 85%;
  }
  .overview::after {
    content: unset;
  }
  .overview .image {
    display: none;
  }
  .overview .text {
    padding: 0;
  }
  .services::after {
    height: 55%;
  }
  .services .stats-wrapper {
    display: block;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item {
    display: block;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .image {
    width: 100%;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text {
    width: 100%;
  }
  .why-choose-us {
    padding: 50px 0;
  }
  .why-choose-us::before {
    content: unset;
  }
  .why-choose-us .image {
    display: none;
  }
  .why-choose-us .text ul {
    -moz-column-count: 1;
         column-count: 1;
  }
  .latest-news .news-item {
    margin-bottom: 40px;
  }
  .footer h5 {
    text-align: center;
    margin-top: 20px;
  }
  .footer .copyrights .rights {
    text-align: center;
  }
  .footer .copyrights .develop {
    text-align: center;
  }
  .top-page img {
    display: none;
  }
  .top-page .page-name {
    text-align: center;
  }
  .statistics .stats-wrapper {
    display: block;
  }
  .page .content ul {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .top-header .contact-wrapper {
    display: none;
  }
  .top-header .social-langs-wrapper {
    justify-content: center;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay {
    width: 70%;
    left: 5%;
    top: 15%;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay h2 {
    font-size: 2.5rem;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay p {
    font-size: 1.125rem;
  }
  .hero .heroSwiper .swiper-button-next {
    right: 43%;
    top: 85%;
  }
  .hero .heroSwiper .swiper-button-prev {
    left: 43%;
    top: 85%;
  }
  .overview::after {
    content: unset;
  }
  .overview .image {
    display: none;
  }
  .overview .text {
    padding: 0;
  }
  .services::after {
    height: 55%;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item {
    display: block;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .image {
    width: 100%;
  }
  .latest-projects .projectSwiper .swiper-wrapper .swiper-slide .project-item .text {
    width: 100%;
  }
  .why-choose-us {
    padding: 50px 0;
  }
  .why-choose-us::before {
    content: unset;
  }
  .why-choose-us .image {
    display: none;
  }
  .latest-news .news-item {
    margin-bottom: 40px;
  }
  .footer h5 {
    text-align: center;
    margin-top: 20px;
  }
  .footer .copyrights .rights {
    text-align: center;
  }
  .footer .copyrights .develop {
    text-align: center;
  }
  .top-page img {
    display: none;
  }
  .top-page .page-name {
    text-align: center;
  }
  .page .content ul {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay {
    width: 50%;
    left: 5%;
    top: 15%;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay h2 {
    font-size: 2.5rem;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay p {
    font-size: 1.125rem;
  }
  .hero .heroSwiper .swiper-button-next {
    right: 43%;
    top: 85%;
  }
  .hero .heroSwiper .swiper-button-prev {
    left: 43%;
    top: 85%;
  }
  .overview .text {
    padding: 25px 0;
  }
  .services::after {
    height: 55%;
  }
  .why-choose-us {
    padding: 50px 0;
  }
  .latest-news .news-item {
    margin-bottom: 40px;
  }
  .footer h5 {
    text-align: center;
    margin-top: 20px;
  }
  .footer .copyrights .rights {
    text-align: center;
  }
  .footer .copyrights .develop {
    text-align: center;
  }
  .top-page img {
    display: none;
  }
  .top-page .page-name {
    text-align: center;
  }
  .page .content ul {
    -moz-column-count: 1;
         column-count: 1;
  }
}
@media (min-width: 1280px) and (max-width: 1399.98px) {
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .heroSwiper .swiper-wrapper .swiper-slide .hero-item .text-overlay {
    width: 50%;
    left: 5%;
    top: 15%;
  }
  .hero .heroSwiper .swiper-button-next {
    right: 45%;
    top: 85%;
  }
  .hero .heroSwiper .swiper-button-prev {
    left: 45%;
    top: 85%;
  }
  .why-choose-us::before {
    width: 500px;
  }
}/*# sourceMappingURL=theme-ar.css.map */